.savedSpot {
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 56px;
    left: 0px;
    letter-spacing: 0.5px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    top: 0px;
    vertical-align: middle;
    width: 56px;
    z-index: 1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 28px 28px;
    transform-origin: 28px 28px;
    border: 0px none rgb(255, 255, 255);
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 15px / 54px Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    transform-origin: center;
    animation-name: pop-in;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 9999;
}

@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.0); }
    100% { opacity: 1; transform: scale(1); }
}

.hidden {
    display: none;
}

#enterSpotModal {
    position: absolute;
    color: white;
    display: block;
    height: 137px;
    width: 253px;
    background: white;
    padding: 1em;
    border-radius: 4px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

#spotNumber {
    background-color: white;
    border-bottom: 1px solid lightgrey;
    border-radius: 2px;
    margin: 2em;
    width: 170px;
    color: #2196F3;
    text-align: center;
}